<%= render layout: 'tolk/layouts/main' do %>
  <h3 class="switch">Completed translations <small>(<%= link_to 'See phrases missing translation', @locale %>)</small></h3>

  <% if @locale.has_updated_translations? && action_name != 'updated' %>
    <div class="alert alert-info alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      Some phrases have changed. <%= link_to "Update translations", tolk.updated_locale_path(@locale) %>.
    </div>
  <% end %>

  <div class="search">
    <%= render :partial => "tolk/searches/form", :locals => { :locale => @locale } %>
  </div>

  <br>

  <div class="translations">
  <% if @phrases.any? %>
    <%= form_for @locale do |locale_form| %>
      <div class="translations">
        <div class="row">
          <div class="translation col-md-6">
            <div class="h4">
              <%= @locale.language_name -%>
            </div>
          </div>
          <div class="key col-md-6">
            <div class="h4">
              <%= Tolk::Locale.primary_language_name -%>
            </div>
          </div>
        </div>
        <% @phrases.each do |phrase| %>
          <% if phrase.translations.primary %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <% if action_name == 'updated' %>
                <div class="updated">
                  <span class="key">Updated</span>
                  <code><%= format_i18n_value(phrase.translations.primary.text) -%></code>
                  <%= boolean_warning if phrase.translations.primary.boolean? -%>
                </div>
                <div class="previous">
                  <span class="key">Previous</span>
                  <code><%= format_i18n_value(phrase.translations.primary.previous_text) -%></code>
                </div>
              <% else %>
                Original:
                <code><%= format_i18n_value(phrase.translations.primary.text) -%></code>
                <%= boolean_warning if phrase.translations.primary.boolean? -%>
              <% end %>
            </div>
            <div class="panel-body">
              <% multiline = phrase.translations.primary.multiline? %>
              <div class="row">
                <div class="translation col-md-6">
                  <%= hidden_field_tag :"translations[][id]", phrase.translation.id %>
                  <%= hidden_field_tag :"translations[][locale_id]", phrase.translation.locale_id %>
                  <div>
                    Translation:
                    <a class="copy" href="#" tabindex="-1" title="Copy original translation">Copy original</a>
                    <span class="warning" title="Interpolation keys don't match">⚠</span>
                  </div>
                  
                  <% if multiline %>
                    <%= text_area_tag :"translations[][text]", format_i18n_text_area_value(phrase.translation.text), :class => 'locale form-control' %>
                  <% else %>
                    <%= text_field_tag :"translations[][text]", format_i18n_text_area_value(phrase.translation.text), :class => 'locale form-control' %>
                  <% end %>
                </div>
                <div class="original col-md-6">
                  <div>Original:</div>

                  <% if multiline %>
                    <%= text_area_tag :"translations[][original_text]",
                        format_i18n_text_area_value(phrase.translations.primary.text),
                        :disabled => true,
                        :class => 'form-control',
                        :title => phrase.key
                    %>
                  <% else %>
                    <%= text_field_tag :"translations[][original_text]",
                        format_i18n_text_area_value(phrase.translations.primary.text),
                        :disabled => true,
                        :class => 'form-control',
                        :title => phrase.key
                    %>
                  <% end %>
                </div>
            </div>
          </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="table_submit">
        <p><%= locale_form.submit "Save changes", :class => 'save btn btn-success' %></p>
      </div>
      <div class="paginate text-center">
        <%= tolk_paginate @phrases %>
      </div>
    <% end %>
  <% else %>
    <p style="text-align: left">There aren't any completed translations for this locale.</p>
    <p>&nbsp;</p>
  <% end %>
  </div>
<% end %>
