<%= render layout: 'tolk/layouts/main' do %>
  <h2>Locales <small><%= t 'tolk.index.primary_text', l: Tolk::Locale.primary_locale.language_name %></small></h2>
  <% if @locales.any? %>
    <ul class="locales clearfix list-unstyled">
      <% @locales.each do |locale| %>
        <li>
          <%= link_to locale.language_name, locale %>
          <% missing_count = locale.count_phrases_without_translation %>
          <% if missing_count > 0 %>
            <span class="missing_translations"><%= missing_count %></span>
          <% end %>
        </li>
      <% end %>
    </ul>

  <% else %>
    <p><%= t 'tolk.index.no_locales' %></p>

  <% end %>
  <%= form_for(Tolk::Locale.new, :html => {:class => 'form-inline'}) do |f| %>
  <div class="submit">
    <p>
      <%= f.label t('tolk.index.add_locale_text') %>
      <select id="select_tolk_locale_name" name="tolk_locale[name]" class="form-control">
        <%= options_for_select tolk_locale_selection %>
      </select>
      <%= f.submit t('tolk.index.add_locale'), class: 'btn btn-primary' %>
    </p>
  </div>
  <% end %>
<% end %>
