<%= render layout: 'tolk/layouts/main' do %>
  <% content_for :head do %>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= tolk.locale_path(@locale, :format => 'atom') -%>" />
  <% end %>

  <h3 class="switch"><%= t 'tolk.show.phrases_missing_title', count: @locale.count_phrases_without_translation %> <small>(<%= link_to t('tolk.show.see_completed'), tolk.all_locale_path(@locale) %>)</small></h3>

  <% if @locale.has_updated_translations? && action_name != 'updated' %>
    <div class="alert alert-info alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="<%= t 'tolk.alert.close' %>">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= t 'tolk.show.changes' %> <%= link_to t('tolk.show.update_translations'), tolk.updated_locale_path(@locale) %>.
    </div>
  <% end %>

  <div class="search">
    <%= render :partial => "tolk/searches/form", :locals => { :locale => @locale } %>
  </div>

  <br>

  <div class="translations">
    <% if @phrases.any? %>
       <%= form_for @locale do |locale_form| %>
        <div class="translations">
          <div class="row">
            <div class="translation col-md-6">
              <div class="h4">
                <%= @locale.language_name -%>
              </div>
            </div>
            <div class="key col-md-6">
              <div class="h4">
                <%= Tolk::Locale.primary_language_name -%>
              </div>
            </div>
          </div>
          <% @phrases.each do |phrase| %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <%= phrase.key %>:
                <code>
                  <% if params[:q].present? -%>
                    <%= highlight(format_i18n_value(phrase.translations.primary.text), params[:q]) -%>
                  <% else -%>
                    <%= format_i18n_value(phrase.translations.primary.text) -%>
                  <% end -%>
                </code>
                <%= boolean_warning if phrase.translations.primary.boolean? -%>
              </div>
              <div class="panel-body">
                <% multiline = phrase.translations.primary.multiline? %>
                <div class="row">
                  <% translation = Tolk::Translation.new(:locale => @locale, :phrase => phrase) %>
                  <div class="translation col-md-6">
                    <%= hidden_field_tag :"translations[][id]", translation.id, :id => "#{translation.object_id}_id" %>
                    <%= hidden_field_tag :"translations[][phrase_id]", phrase.id, :id => "#{translation.object_id}_phrase_id" %>
                    <%= hidden_field_tag :"translations[][locale_id]", translation.locale_id, :id => "#{translation.object_id}_locale_id" %>
                    <div>
                      <%= t 'tolk.show.translation' %>
                      <a class="copy" href="#" tabindex="-1"><%= t('tolk.show.copy_original') %></a>
                      <span class="warning" title="<%= t('tolk.show.interpolation_mismatch') %>">⚠</span>
                    </div>

                    <% if multiline %>
                      <%= text_area_tag :"translations[][text]", format_i18n_text_area_value(translation.text), :class => "locale form-control", :id => "#{translation.object_id}_text" %>
                    <% else %>
                      <%= text_field_tag :"translations[][text]", format_i18n_text_area_value(translation.text), :class => "locale form-control", :id => "#{translation.object_id}_text" %>
                    <% end %>
                  </div>
                  <div class="original col-md-6">
                    <div>
                      <%= t 'tolk.show.original' %>
                    </div>

                    <% if multiline %>
                      <%= text_area_tag :"translations[][original_text]",
                          format_i18n_text_area_value(phrase.translations.primary.text),
                          :disabled => true,
                          :class => 'form-control'
                      %>
                    <% else %>
                      <%= text_field_tag :"translations[][original_text]",
                          format_i18n_text_area_value(phrase.translations.primary.text),
                          :disabled => true,
                          :class => 'form-control'
                      %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="table_submit">
          <p><%= locale_form.submit t('tolk.show.save'), :class => 'save btn btn-success' %></p>
        </div>
      <% end %>
      <div class="paginate text-center">
        <%= tolk_paginate @phrases %>
      </div>
    <% else %>
      <p style="text-align: left"><%= t 'tolk.show.no_translations' %></p>
      <p>&nbsp;</p>
    <% end %>
  </div>
<% end %>
